In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, RidgeCV, Lasso
from sklearn.preprocessing import StandardScaler

print("Importing libraries... Done!")

Importing libraries... Done!

In [2]:
df_org = pd.read_csv(r'/Users/mexmex/Documents/3-Math_LU/HT2025/BERN02/BERNO2-kissing-challenge-2025/Data/train_cleaned.csv')
df_org.head()

,ID,Sex,SexPref,Age,Country_Res,Country_Born,HPP_9,GDP,GINI,SexRatio.2017est.,...,snow_cover_days_Res,t_mean_Res,t_mean_coldest_month_Res,t_mean_warmest_month_Res,prec_mean_anual_Born,snow_cover_days_Born,t_mean_Born,t_mean_coldest_month_Born,t_mean_warmest_month_Born,Kiss_index
0,6089360076,2,1.0,42.0,United Kingdom of Great Britain and Northern I...,United Kingdom of Great Britain and Northern I...,-1.063333,43600.0,32.4,0.99,...,1.168566,9.187962,1.301625,18.040345,1207.852988,1.168566,9.187962,1.301625,18.040345,0.917
1,6180369987,2,1.0,28.0,Germany,Germany,-0.870000,50200.0,27.0,0.97,...,30.629372,8.964064,-2.221096,22.129606,837.165363,30.629372,8.964064,-2.221096,22.129606,0.078
2,6157791024,2,3.0,22.0,Germany,Germany,-0.870000,50200.0,27.0,0.97,...,30.629372,8.964064,-2.221096,22.129606,837.165363,30.629372,8.964064,-2.221096,22.129606,1.000
3,6179681318,2,1.0,23.0,Germany,Germany,-0.870000,50200.0,27.0,0.97,...,30.629372,8.964064,-2.221096,22.129606,837.165363,30.629372,8.964064,-2.221096,22.129606,0.757
4,6089103661,2,1.0,32.0,United Kingdom of Great Britain and Northern I...,United Kingdom of Great Britain and Northern I...,-1.063333,43600.0,32.4,0.99,...,1.168566,9.187962,1.301625,18.040345,1207.852988,1.168566,9.187962,1.301625,18.040345,0.177

In [4]:
df = df_org.copy()
df.head()

,ID,Sex,SexPref,Age,Country_Res,Country_Born,HPP_9,GDP,GINI,SexRatio.2017est.,...,snow_cover_days_Res,t_mean_Res,t_mean_coldest_month_Res,t_mean_warmest_month_Res,prec_mean_anual_Born,snow_cover_days_Born,t_mean_Born,t_mean_coldest_month_Born,t_mean_warmest_month_Born,Kiss_index
0,6089360076,2,1.0,42.0,United Kingdom of Great Britain and Northern I...,United Kingdom of Great Britain and Northern I...,-1.063333,43600.0,32.4,0.99,...,1.168566,9.187962,1.301625,18.040345,1207.852988,1.168566,9.187962,1.301625,18.040345,0.917
1,6180369987,2,1.0,28.0,Germany,Germany,-0.870000,50200.0,27.0,0.97,...,30.629372,8.964064,-2.221096,22.129606,837.165363,30.629372,8.964064,-2.221096,22.129606,0.078
2,6157791024,2,3.0,22.0,Germany,Germany,-0.870000,50200.0,27.0,0.97,...,30.629372,8.964064,-2.221096,22.129606,837.165363,30.629372,8.964064,-2.221096,22.129606,1.000
3,6179681318,2,1.0,23.0,Germany,Germany,-0.870000,50200.0,27.0,0.97,...,30.629372,8.964064,-2.221096,22.129606,837.165363,30.629372,8.964064,-2.221096,22.129606,0.757
4,6089103661,2,1.0,32.0,United Kingdom of Great Britain and Northern I...,United Kingdom of Great Britain and Northern I...,-1.063333,43600.0,32.4,0.99,...,1.168566,9.187962,1.301625,18.040345,1207.852988,1.168566,9.187962,1.301625,18.040345,0.177